@model WeatherModel
@{
    string GetBackGroundColorByTemp(int temp){
        return temp switch{
            (<= 44) => "blue-back",
            (> 44) and (<= 74) => "green-back",
            (> 74) => "orange-back"
        };
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>@Model.CityName</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="page-content">
                <div class="margin-bottom">
                    <h1>Weather</h1>
                </div>
                <div class="margin-top-200">
                    <div class="flex">
                        <div class="box @GetBackGroundColorByTemp(Model.Temperature)">
                            <div class="flex-borderless">
                                <div class="w-50">
                                    <h2>@Model.CityName</h2>
                                    <h4 class="text-grey">@Model.DateAndTime.ToString("hh:mm tt")</h4>
                                    <a href="/">Back to Weather home app</a>
                                </div>
                                <div class="w-50 border-left">
                                    <h1 class="margin-left">@Model.Temperature <sup class="text-grey">&#8457</sup></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>