@model IEnumerable<Person>
@{
    //string greetings = ViewData["Title"].ToString();
    
    @* Person person = new Person() {
        name = "Peace",
        DOB = Convert.ToDateTime("1992-06-18")
    }; *@
    //List<Person>? people = (List<Person>?)ViewData["People"];
    //List<Person>? people = ViewData["People"] as List<Person>?;
}
@* if @ { method } => local function *@
@* if @functions { method } => methods in view *@
@{
    @* double? GetAge(DateTime? DOB){
        if(DOB is not null){
            return Math.Round((DateTime.Now - DOB.Value).TotalDays / 365.25);
        }
        return null;
    } *@

    //int x = 10;//Fields

    //string alertMessage = $"<script>alert('{people.Count} people');</script>";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="uft-8" />
        <link href="~/StyleSheet.css" rel="stylesheet">
    </head>
    <body>
        <div class="page-content">
            @* @Html.Raw(alertMessage) *@
            <h1>Welcome</h1>

            @foreach(var person in Model){
                <div class="box float-left w-50">
                    <h3><a href="/persion-details/@person.name">@person.name</a></h3>
                    <table class="table w-100">
                        <tbody>
                            <tr>
                                <td>Gender</td>
                                <td>@person.gender</td>
                            </tr>
                            <tr>
                                <td>Date Of Brith</td>
                                <td>@person.DOB?.ToString("dd-MM-yyyy")</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a href="/person-with-product">Person with Product</a>
                    </div>
                </div>
            }
        </div>
        
    </body>
</html>